{% extends "base.html" %}

{% block content%}
    <p class="subtitulo" >Seja bem vindo!</p>
    <a class="tarefa-card" id="home" href="/listadesejo">ENTRAR</a>

    <p class="poppins-regular" id="textinho">Bem-vindo ao seu espaço pessoal de descobertas. Aqui você pode organizar tudo o que deseja assistir, ler, jogar ou explorar, sem correr o risco de esquecer aquela indicação incrível que recebeu de um amigo ou encontrou na internet. Este site foi criado para reunir, em um só lugar, suas listas de filmes, séries, livros, jogos e qualquer outra experiência que você queira aproveitar no futuro. Com ele, você pode registrar títulos, anotar quem indicou e acompanhar o que já consumiu, mantendo tudo organizado de forma simples e prática. Assim, sua próxima experiência favorita estará sempre a poucos cliques de distância.</p>

{% endblock %}