<a href="/" id="voltar">
  <span class="material-symbols-outlined">arrow_back</span>
</a>

{% extends "base.html" %}

{% block content %}


    

    <div class="subtitulo"><h2 class="poppins-regular">LETTER BOX</h2></div>
    <form method="POST">
        <input type="text" name="titulo-recomendacao" id="titulo-recomendacao" placeholder="Titulo da recomendação"
        required class="poppins-regular" value="{{ recomendacao_selecionada.titulo_recomendacao if recomendacao_selecionada else ''}}">

        <input type="text" name="quem-recomendacao" id="quem-recomendacao" placeholder="Recomendado por" value="{{ recomendacao_selecionada.quem_recomendacao if recomendacao_selecionada else ''}}">
            
        <select name="tipo-recomendacao" id="tipo-recomendacao" required class="poppins-regular"
        class="inserir">
                <option value="">Tipo</option>
                <option value="Filme">Filme</option>
                <option value="Serie">Série</option>
                <option value="Livro">Livro</option>
                <option value="Jogo">Jogo</option>
                <option value="Musica">Música</option>
                <option value="Outro">Outro</option>
            </select>

        <button type="submit" class="poppins-regular"> Salvar </button>
    </form>

    {% if recomendacao_selecionada %}
        <a href="{{ url_for('listadesejo') }}" id="cancelar">Cancelar</a>
    {% endif %}
    
<h2 class="subtitulo" id="listatitulo"> Lista de recomendações: </h2>

{% if recomendacoes %}

    <ul>
        {% for recomendacao in recomendacoes %}
            <li class="tarefa-card">{{ recomendacao.titulo_recomendacao }} - {{ recomendacao.quem_recomendacao }} - {{ recomendacao.tipo_recomendacao }}
            <a href="{{ url_for('delete', idRecomendacao=recomendacao.id_recomendacao) }}" id="apagar">Apagar</a>
            <a href="{{ url_for('update', idRecomendacao=recomendacao.id_recomendacao) }}" id="editar">Editar</a>

            </li>
        {%endfor%}
    </ul>
{% else %}
    <p class="poppins-regular" style="color: rgb(255, 255, 255);" id="nenhum">Nenhuma recomendação anotada.</p>   
{% endif %}

{% endblock %}