<a href="/" id="voltar">
  <span class="material-symbols-outlined">arrow_back</span>
</a>

{% extends "base.html" %}

{% block content %}


    

    <div class="subtitulo"><h2 class="poppins-regular">lista de desejos</h2></div>
    <form method="POST">
        <input type="text" name="titulo-recomendacao" id="titulo-recomendacao" placeholder="Titulo da recomendação"
        required class="poppins-regular" value="{{ tarefa_selecionada.titulo_recomendacao if tarefa_selecionada else ''}}">
        <input type="text" name="quem-recomendacao" id="quem-recomendacao" placeholder="Recomendado por..."

        value="{{ tarefa_selecionada.quem_recomendacao if tarefa_selecionada else ''}}">
            <select name="tipo-recomendacao" id="tipo-recomendacao" required class="poppins-regular">
                <option value="">Tipo</option>
                <option value="Filme">Filme</option>
                <option value="Serie">Série</option>
                <option value="Livro">Livro</option>
                <option value="Jogo">Jogo</option>
                <option value="Outro">Outro</option>
            </select>

        <button type="submit" class="poppins-regular"> Salvar </button>
    </form>

    {% if tarefa_selecionada %}
        <a href="{{ url_for('listadesejo') }}" id="cancelar">Cancelar</a>
    {% endif %}
    
<h2 class="subtitulo" id="listatitulo"> Lista de recomendações: </h2>

{% if tarefas %}

    <ul>
        {% for tarefa in tarefas %}
            <li class="tarefa-card">{{ tarefa.titulo_tarefa }} - {{ tarefa.data_conclusao }} 
            <a href="{{ url_for('delete', idTarefa=tarefa.id_tarefa) }}" id="apagar">Apagar</a>
            <a href="{{ url_for('update', idTarefa=tarefa.id_tarefa) }}" id="editar">Editar</a>

            </li>
        {%endfor%}
    </ul>
{% else %}
    <p class="poppins-regular" style="color: white;" id="nenhum">Nenhuma tarefa cadastrada.</p>   
{% endif %}

{% endblock %}